//global
$header_blue_color:rgb(128, 164, 230);
$footer_blue_color: rgb(21, 98, 241);
$text_color: #14214D;
$text_good_color: rgb(34, 153, 10);
$text_error_color: rgb(136, 12, 12);

//structure.component
$min_width_body:800px;
$max_width_body:1200px;
$height_header:200px;
$height_footer:65px;
$margin_content:20px;
$height_content: calc(100% - #{$height_header} - #{$height_footer} - calc(#{$margin_content} * 2));

//header.component
$widthLogoTwitter:40px;
$heightLogotwitter:$widthLogoTwitter;

//twitte.component
$grey_text_color:#A1A1A1;