@import '../../../sass/variables.scss';

div[root]{
    position: static;
    width: 100%;
    > div{
        position: relative;
        width: 100%;
        margin: 0px 0px 40px 0px;
        > div:first-child{
            cursor: pointer;
            margin: 4px 0px 0px 0px;
            width: auto;
            height: 50px;
            font-size: 20px;
            font-weight: bold;
            color: $footer_blue_color;
            letter-spacing: -0.5px;
        }
        > div#tweet{
            padding: 0px 8px 0px 2px;
            cursor: pointer;
            > span.title{
                font-size: 34px;
                font-weight: bold;
                letter-spacing: -1.5px;
                line-height: 31px;
            }

            > span.author{
                color: $header_blue_color;
                font-size: 20px;
                line-height: 80px;
                > img{
                    vertical-align: middle;
                    border: 1px solid #F4F4F4;
                    border-radius: 24px;
                }
            }

            > span.date{
                color: $grey_text_color;
                font-size: 14px;
                line-height: 80px;
            }

            > span.follow{
                font-size: 14px;
                line-height: 80px;
                > .followTitle{
                    color: $grey_text_color;
                }
            }

            > span.tag{
                font-size: 16px;
                color: $header_blue_color;
                > .tagTitle{
                    color: $grey_text_color;
                }
            }

            > span.addMessage{
                background-color: $footer_blue_color;
                border: 1px solid $footer_blue_color;
                border-radius: 16px;
                color: #FFFFFF;
                padding: 8px 12px 8px 12px;
                margin: -6px 8px 0px 0px;
                float: right;
                letter-spacing: -0.5px;
            }

            > span.addMessage:hover{
                background-color: #FFFFFF;
                border: 1px solid #FFFFFF;
                color: $footer_blue_color;
            }

            > hr{
                width: 100%;
                color: $grey_text_color;
            }
        }
        > div.form{
            height: 0px;
            overflow: hidden;
            > form > div{
                width: 100%;
                > span{
                    > div{
                        display: inline-block;
                        margin: 0px;
                        padding: 0px;
                        > textarea{
                            width: 97%;
                            border-color: $header_blue_color;
                            border-style:solid;
                            resize: none;
                            font-family: "Helvetica Neue LT Std", Helvetica, Arial, sans-serif;
                        }
                    }
                    > div:first-child{
                        width: 20%;
                        float: left;
                        color: $grey_text_color;
                    }
                    > div:last-child{
                        width: 80%;
                    }
                }
                > div{
                    margin: 20px 0px 0px 0px;
                    > button{
                        display: block;
                        width: 80px;
                        height: 30px;
                        margin: 0 auto;
                    }
                }
            }
            > div#errorMessage{
                display: block;
                width: 100%;
                font-size: 14px;
                color: $text_error_color;
            }
        }
        > div.formClose{
            height: 0px;
            -webkit-transition: height 0.5s ease-in-out;
            -moz-transition: height 0.5s ease-in-out;
            -ms-transition: height 0.5s ease-in-out;
            -o-transition: height 0.5s ease-in-out;
            transition: height 0.5s ease-in-out;
        }
        > div.formOpen{
            height: 200px;
            -webkit-transition: height 0.5s ease-in-out;
            -moz-transition: height 0.5s ease-in-out;
            -ms-transition: height 0.5s ease-in-out;
            -o-transition: height 0.5s ease-in-out;
            transition: height 0.5s ease-in-out;
        }
    }
}