@import '../../../../sass/variables.scss';

div[root]{
    cursor: default;
    margin: 20px 0px 20px 0px;
    > div{
        > span.author{
            color: $header_blue_color;
            font-size: 16px;
            line-height: 40px;
        }

        > span.title{
            font-size: 20px;
            letter-spacing: -0.5px;
            line-height: 31px;
        }

        > span.date{
            color: $grey_text_color;
            font-size: 10px;
            line-height: 40px;
        }

        > hr{
            display: block;
            width: 40%;
            float: left;
            border: 0.5px dotted $grey_text_color;
        }
    }
}